*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5rem  rgba(0, 0, 0, 0.1);
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.nav-masthead .nav-link {
    padding: 0.25rem 0;
    color: rgba(255, 255, 255, 0);
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: gray;
    color: black;
}

.nav-masthead .nav-link:not(:last-child) {
    margin-right: 1rem;
}

.nav-masthead .active {
    color: black;
    border-bottom-color: darkslategrey;
}

@media (min-width: 48em ) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

main {
    margin-top: 20%;
}

.contact {
    margin-top: 10%;
}

footer {
    text-align: right;
}

/* /////////////////~CV~/////////////// */
.nes-container.with-title>.title {
    margin: -2rem 0 1rem;
}

.tieusu .nes-container.with-title>.title {
    font-size: 1.5rem;
}

.is-dark li {
    color: white ;
    list-style-type: kannada;
}

.nes-list .reference li {
    display: inline-block!important;
}

/* /////////////////~CONTACT~/////////////// */
.lienlac .nes-container.with-title>.title {
    font-size: 1.5rem;
}

/* ---------------------- */
.img-responsive {
    height: 100%;
    width: 100%;
}

.margin-top-big {
    margin-top: 6rem;
}

.margin-top-medium {
    margin-top: 4rem;
}

.margin-top-small {
    margin-top: 2rem;
}

.preload {
    position: fixed;
    z-index: -99;
    height: 100%;
    width: 100%;
}

#preloader {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}